<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="{{author}}" />
  {{#description}}
    <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <link rel="stylesheet" href="/media/css/htmlize.css" type="text/css">
  <link rel="stylesheet" href="/media/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/media/css/org-default.css" type="text/css">
  <link rel="stylesheet" href="/media/css/my-style.css" type="text/css">
  <link rel="stylesheet" href="/media/css/org-page.css" type="text/css">
  <link rel="stylesheet" href="/media/css/prism.css" type="text/css">
</head>
