.title {
  margin: 0.8em auto;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  line-height: 1em;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

h1,
h2,
h3 {
  line-height: 1.4em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h1,
  h2,
  h3 {
    line-height: 1.4em;
  }
  h4,
  h5,
  h6 {
    font-size: 1.1em;
  }
}
h2:before,
h3:before,
h4:before {
  position: absolute;
  top: auto;
  color: #ccc;
  display: none;
  transform: translateX(-100%);
  left: -0.25em;
}
h2:before {
  content: "◉";
}
h3:before {
  content: "○";
}
h4:before {
  content: "✸";
}

b:before,
b:after,
strong:before,
strong:after {
  content: "*";
}
i:before,
i:after,
em:before,
em:after {
  content: "/";
}
hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e2e3e4;
}
.underline {
  text-decoration: underline;
  color: #212529;
}
.underline:before,
.underline:after {
  content: "_";
  color: #212529;
}
code {
  color: #d14;
}
code:before,
code:after {
  content: "=";
  color: #ccc;
}
pre code:before,
pre code:after {
  content: "";
}
sup a:before {
  content: "[";
}
sup a:after {
  content: "]";
}
/******************************************************/
/* body */
.container {
  margin: 0 auto;
  max-width: 770px;
}
/* head */
.masthead {
  color: #888;
  border-bottom: 1px solid #e2e3e4;
}
.masthead a {
  color: #333;
}
.masthead a:hover {
  text-decoration: underline;
}
.masthead ul {
  list-style: none;
  margin: 8px 0;
}
.masthead li {
  display: inline-block;
}
.masthead li + li:before {
  display: inline-block;
  content: "\00B7 \00a0";
  color: #ccc;
}
/*site-nav*/
.site-nav {
  border-top: 1px solid #e8e8e8;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav li a {
  line-height: 1.5;
}
.site-nav li a:not(:first-child) {
  margin-left: 20px;
}
/* searchform*/
#searchform {
  position: absolute;
  top: 54px;
  right: 30.4%;
}
#searchform #s {
  background: url("/media/img/search.png") no-repeat 5px 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  width: 90px;
  height: 30px;
  line-height: 12px;
  padding: 4px 10px 4px 28px;

  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
}
#searchform #s:focus {
  background-color: #f9f9f9;
  width: 160px;
}
.masthead img.avatar {
  position: absolute;
  width: 200px;
  top: 100px;
  right: 29%;
  background-color: #fff;
}
/* post */
.post {
  position: relative;
  border-bottom: 1px solid #e2e3e4;
}
.post img {
  max-width: 100%;
}
.post li {
  list-style: none outside none;
}
.post ul > li:before {
  content: "- ";
  margin-left: -0.25em;
  color: #ccc;
}
.post ol {
  counter-reset: o-list;
}
.post ol > li:before {
  content: counter(o-list) ") ";
  counter-increment: o-list;
  color: #ccc;
}

/* meta info */
.post-info {
  display: inline-block;
  margin: -10px 0 -10px;
  color: #999;
}
.post-info + .post-info:before {
  content: "\2223 \00a0";
}
.post-meta {
  border-bottom: 1px solid #e2e3e4;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* table of content */
#table-of-contents {
  margin-top: 105px;
  font-size: 10pt;
  font-family: sans-serif;
  position: fixed;
  right: 0em;
  top: 0em;
  background: rgba(255, 255, 255, 0.8);
  line-height: 12pt;
  text-align: right;
  box-shadow: 0 0 1em #777777;
  -webkit-box-shadow: 0 0 1em #777777;
  -moz-box-shadow: 0 0 1em #777777;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  /* ensure doesn't flow off the screen when expanded */
  max-height: 80%;
  overflow: auto;
  z-index: 10;
}
#table-of-contents h2 {
  font-size: 13pt;
  max-width: 9em;
  border: 0;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}
#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
  display: block;
  padding: 0.5em;
  margin-top: -1.5em;
}
#table-of-contents h2::before {
  content: "";
}
#table-of-contents ul {
  margin-left: 14pt;
  padding: 0;
}

#table-of-contents li {
  padding: 0;
  margin: 1px;
  list-style: none;
}

/* footer */
.footer {
  margin: 80px 0 0;
  text-align: center;
  font-size: 15px;
  color: #999;
}
.footer > p {
  margin: 0;
  line-height: 1.5;
}
.footdef {
  margin: 0 0 20px;
}
.footpara {
  display: inline;
}

/* Responsive
   -------------------------------------------------- */

/* site-nav*/
@media screen and (max-width: 512px) {
  .site-nav {
    border-top: 1px solid #e8e8e8;
    text-align: left;
  }
  .site-nav .menu-icon {
    display: block;
    width: 36px;
    height: 21px;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  .site-nav .menu-icon > svg path {
    fill: #000;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav li {
    display: block;
    padding: 5px 10px;
  }
  .site-nav li:before {
    display: inline-block;
    content: "\00B7 \00a0";
    color: #ccc;
  }
}

/* whole page */
@media (min-width: 768px) {
  h1:before,
  h2:before,
  h3:before,
  h4:before {
    display: inline;
  }
}
